.ruc-note-container {
  padding: 15px 15px 5px 15px;

  > h3 {
    padding: 0;
    margin-top: 0;
  }
}

.ruc-button {
  margin-top: 10px;
}

.ruc-table {
  margin-top: 50px;

  td {
    vertical-align: top !important;
  }
}
