{namespace ruc=In2code\Realurlconflicts\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Content">
    <f:render section="DeeplinkInformation" arguments="{_all}" />

    <f:if condition="{records}">
        <f:then><f:render section="Records" arguments="{_all}" /></f:then>
        <f:else><f:render section="NoRecords" arguments="{_all}" /></f:else>
    </f:if>
</f:section>



<f:section name="DeeplinkInformation">
    <f:if condition="{pid} > 0">
        <div>
            <p>
                Liste aller Konflikte beginnend mit Seite:
                <strong><span title="ID={pid}"><ruc:repository.getPagePropertyFromUid uid="{pid}" propertyName="title" /></span></strong>
            </p>
            <ruc:condition.isAdministrator>
                <p>
                    <f:link.action additionalParams="{id:0}" class="btn btn-primary">
                        Zeige alle Konflikte
                    </f:link.action>
                </p>
            </ruc:condition.isAdministrator>
        </div>
    </f:if>
</f:section>



<f:section name="Records">
    <div class="bg-danger ruc-note-container">
        <h3>Vorsicht: {records -> f:count()} Konflikte gefunden!</h3>
        <p>
            Bitte beachten Sie, dass ein Löschen der URL-Daten einen Konflikt nicht bzw. nur temporär beheben kann.<br />
            Diese Einträge werden automatisch bei jedem Aufruf einer (in relation stehenden) Seite im Frontend erstellt.<br />
            Um Konflikte nachhaltig zu lösen, müssen gleichlautende Seiten manuell verschoben oder umbenannt werden.
        </p>
    </div>

    <div class="ruc-button">
        <a href="#" class="btn btn-default pull-right">
            <core:icon identifier="actions-delete" />
            Konflikte mit gelöschten Seiten automatisch lösen
        </a>
    </div>

    <div class="ruc-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{records -> f:count()}</th>
                    <th>Pfade mit Konflikten</th>
                    <th>Betroffene Seiten</th>
                    <th>Verwaltung</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{records}" as="record" key="path" iteration="i">
                    <tr>
                        <td><strong>{i.cycle}.</strong></td>
                        <td>{path}</td>
                        <td>
                            <f:for each="{record}" as="pid">
                                <div>
                                    <span title="ID={pid}">
                                        <core:icon identifier="apps-pagetree-page-default" />
                                    </span>
                                    Studium (PID {pid} | hochschule/studium)
                                </div>
                            </f:for>
                        </td>
                        <td>
                            <f:for each="{record}" as="pid">
                                <div>
                                    <a href="#"><core:icon identifier="actions-document-view" /></a>
                                    <a href="#"><core:icon identifier="actions-page-open" /></a>
                                    <a href="#"><core:icon identifier="actions-delete" /></a>
                                </div>
                            </f:for>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>



<f:section name="NoRecords">
    <div class="bg-info ruc-note-container">
        <h3>Keine Konflikte gefunden</h3>
        <p>
            Es gibt aktuell keinen Handlungsbedarf.
        </p>
    </div>
</f:section>
