{namespace ruc=In2code\Realurlconflicts\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />



<f:section name="Content">
    <f:render section="DeeplinkInformation" arguments="{_all}" />
    <f:render partial="flashmessages" arguments="{_all}" />

    <f:if condition="{paths}">
        <f:then><f:render section="Records" arguments="{_all}" /></f:then>
        <f:else><f:render section="NoRecords" arguments="{_all}" /></f:else>
    </f:if>
</f:section>



<f:section name="DeeplinkInformation">
    <f:if condition="{pid} > 0">
        <div>
            <p>
                <f:translate key="deeplinkInformation.0">Start with page:</f:translate>
                <strong><span title="ID={pid}"><ruc:repository.getPagePropertyFromUid uid="{pid}" propertyName="title" /></span></strong>
            </p>
            <ruc:condition.isAdministrator>
                <p>
                    <f:link.action additionalParams="{id:0}" class="btn btn-primary">
                        <f:translate key="deeplinkInformation.1">Show all</f:translate>
                    </f:link.action>
                </p>
            </ruc:condition.isAdministrator>
        </div>
    </f:if>
</f:section>



<f:section name="Records">
    <div class="bg-danger ruc-note-container">
        <h3><f:translate key="noteContainer.0" arguments="{0:'{paths -> f:count()}'}">Conflicts found!</f:translate></h3>
        <p>
            <f:translate key="noteContainer.1">Please be aware.</f:translate><br />
            <f:translate key="noteContainer.2">Caching entries will be regenerated in frontend.</f:translate><br />
            <f:translate key="noteContainer.3">Solve conflicts by renaming pages.</f:translate>
        </p>
    </div>

    <f:if condition="{hasCachingEntriesFromDeletedPages}">
        <ruc:condition.isAdministrator>
            <div class="ruc-button">
                <f:link.action action="deleteCacheWithDeletedPages" class="btn btn-warning pull-right">
                    <core:icon identifier="actions-delete" />
                    <f:translate key="link.solveDeltedConflicts">Solve conflicts with deleted pages</f:translate>
                </f:link.action>
            </div>
        </ruc:condition.isAdministrator>
    </f:if>

    <div class="ruc-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{paths -> f:count()}</th>
                    <th><f:translate key="title.paths">Paths</f:translate></th>
                    <th><f:translate key="title.pages">Pages</f:translate></th>
                    <th><f:translate key="title.management">Management</f:translate></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{paths}" as="pathPages" key="path" iteration="i">
                    <tr>
                        <td><strong>{i.cycle}.</strong></td>
                        <td>
                            <span title="{path}">
                                <f:format.crop maxCharacters="50" append=" ...">{path}</f:format.crop>
                            </span>
                        </td>
                        <td>
                            <f:for each="{pathPages}" as="page">
                                <div>
                                    <span title="ID={page.uid}">
                                        <f:render partial="GetPageIconFromRecord" arguments="{page:page}" />
                                    </span>
                                    {page.title} (PID {page.uid} |
                                    <span title="{ruc:repository.getPathFromUid(uid:page.uid)}">
                                        <f:format.crop maxCharacters="80" append=" ..."><ruc:repository.getPathFromUid uid="{page.uid}" /></f:format.crop>)
                                    </span>
                                </div>
                            </f:for>
                        </td>
                        <td>
                            <f:for each="{pathPages}" as="page">
                                <div>
                                    <f:if condition="{page.uid} > 0">
                                        <f:then>
                                            <f:if condition="{page.deleted} == 0">
                                                <ruc:link.page pid="{page.uid}" title="{f:translate(key:'title.showPage')}"><core:icon identifier="actions-document-view" /></ruc:link.page>
                                                <ruc:link.editPage pid="{page.uid}" title="{f:translate(key:'title.editPage')}"><core:icon identifier="actions-page-open" /></ruc:link.editPage>
                                            </f:if>
                                            <f:link.action
                                                    action="deleteCache"
                                                    arguments="{path:path,pid:page.uid}"
                                                    title="{f:translate(key:'title.deleteCache')}"><core:icon identifier="actions-delete" /></f:link.action>
                                        </f:then>
                                        <f:else>
                                            <br />
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:for>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>



<f:section name="NoRecords">
    <div class="bg-info ruc-note-container">
        <h3><f:translate key="noteContainer.4">No conflicts</f:translate></h3>
        <p>
            <f:translate key="noteContainer.5">Nothing to do</f:translate>
        </p>
    </div>
</f:section>
