{namespace ruc=In2code\Realurlconflicts\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />



<f:section name="Content">
    <f:render section="DeeplinkInformation" arguments="{_all}" />
    <f:render partial="flashmessages" arguments="{_all}" />

    <f:if condition="{paths}">
        <f:then><f:render section="Records" arguments="{_all}" /></f:then>
        <f:else><f:render section="NoRecords" arguments="{_all}" /></f:else>
    </f:if>
</f:section>



<f:section name="DeeplinkInformation">
    <f:if condition="{pid} > 0">
        <div>
            <p>
                Liste aller Konflikte beginnend mit Seite:
                <strong><span title="ID={pid}"><ruc:repository.getPagePropertyFromUid uid="{pid}" propertyName="title" /></span></strong>
            </p>
            <ruc:condition.isAdministrator>
                <p>
                    <f:link.action additionalParams="{id:0}" class="btn btn-primary">
                        Zeige alle Konflikte
                    </f:link.action>
                </p>
            </ruc:condition.isAdministrator>
        </div>
    </f:if>
</f:section>



<f:section name="Records">
    <div class="bg-danger ruc-note-container">
        <h3>Vorsicht: {paths -> f:count()} Konflikte gefunden!</h3>
        <p>
            Bitte beachten Sie, dass ein Löschen der URL-Daten einen Konflikt nicht bzw. nur temporär beheben kann.<br />
            Diese Einträge werden automatisch bei jedem Aufruf einer (in relation stehenden) Seite im Frontend erstellt.<br />
            Um Konflikte nachhaltig zu lösen, müssen gleichlautende Seiten manuell verschoben oder umbenannt werden.
        </p>
    </div>

    <div class="ruc-button">
        <a href="#" class="btn btn-default pull-right">
            <core:icon identifier="actions-delete" />
            Konflikte mit gelöschten Seiten automatisch lösen
        </a>
    </div>

    <div class="ruc-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{paths -> f:count()}</th>
                    <th>Pfade mit Konflikten</th>
                    <th>Betroffene Seiten</th>
                    <th>Verwaltung</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{paths}" as="pathPages" key="path" iteration="i">
                    <tr>
                        <td><strong>{i.cycle}.</strong></td>
                        <td>
                            <span title="{path}">
                                <f:format.crop maxCharacters="50" append=" ...">{path}</f:format.crop>
                            </span>
                        </td>
                        <td>
                            <f:for each="{pathPages}" as="page">
                                <div>
                                    <span title="ID={page.uid}">
                                        <f:render partial="GetPageIconFromRecord" arguments="{page:page}" />
                                    </span>
                                    {page.title} (PID {page.uid} |
                                    <span title="{ruc:repository.getPathFromUid(uid:page.uid)}">
                                        <f:format.crop maxCharacters="80" append=" ..."><ruc:repository.getPathFromUid uid="{page.uid}" /></f:format.crop>)
                                    </span>
                                </div>
                            </f:for>
                        </td>
                        <td>
                            <f:for each="{pathPages}" as="page">
                                <div>
                                    <f:if condition="{page.uid} > 0">
                                        <f:then>
                                            <f:if condition="{page.deleted} == 0">
                                                <ruc:link.page pid="{page.uid}" title="Seite ansehen"><core:icon identifier="actions-document-view" /></ruc:link.page>
                                                <ruc:link.editPage pid="{page.uid}" title="Seite zum Bearbeiten öffnen"><core:icon identifier="actions-page-open" /></ruc:link.editPage>
                                            </f:if>
                                            <f:link.action
                                                    action="deleteCache"
                                                    arguments="{path:path,pid:page.uid}"
                                                    title="Realurl caching Einträge löschen"><core:icon identifier="actions-delete" /></f:link.action>
                                        </f:then>
                                        <f:else>
                                            <br />
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:for>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>



<f:section name="NoRecords">
    <div class="bg-info ruc-note-container">
        <h3>Keine Konflikte gefunden</h3>
        <p>
            Es gibt aktuell keinen Handlungsbedarf.
        </p>
    </div>
</f:section>
